/* reset */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* style page */
body{
    background-color: #f8f8f8;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    font-family: "work sans", sans-serif;
}

header{
    margin-bottom: 20px;
    text-align: center;
}

img{
    width: 100px;
}

h1{
    font-family: "fjalla one", sans-serif;
}

/* form */
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}

fieldset{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #0003;
}

legend{
    padding: 0 10px;
    font-weight: bold;
}

p{
    margin-bottom: 10px;
}

input, select, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #0003;
    border-radius: 8px;
}

textarea{
    min-height: 100px;
    min-width: 100%;
    max-width: 700px;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 60px;
    padding: 0 3px;
    border-radius: 3px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input:focus{
    border-color: #6495ed;
    outline: none;
}

input:valid:not(:placeholder-shown){
    border-color: #008000;
}

input:invalid:not(:placeholder-shown){
    border-color: #ff0000;
}

button{
    width: 150px;
    height: 40px;
    margin: 10px 10px 0 0;
    background-color: #fff;
    border: 1px solid #0003;
    border-radius: 3px;    
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #00800099;
    color: #fff;
}
button[type="submitt"]:hover{
    background-color: #ff000099;
    color: #fff;
}