/* Fontes */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    text-decoration: none;
}


/* Desktop */
body{
    background-color:#0E1014;
    color: #ffffff;
}

header img{
    display: block;
    margin: 80px 0 0 300px;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    background-color: #9747FF;display: block;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    margin: 0 auto;
    width: 792px;
    height: 446px;
}